<h3>Scraped Articles</h3>

    <div>
        <ul>
            {{#each articles}}
            <li> {{this.title}} <br> {{this.summary}} <br> {{this.link}}</li>
            {{/each}}
        </ul>
    </div>
